[limesurvey]
base_url = "https://encuestas.cnccol.com/index.php/admin/remotecontrol"
usuario = "api_visor"
password = "PON_AQUI_LA_CLAVE_CORRECTA"

[app]
viewer_password = "PON_AQUI_LA_CLAVE_DEL_VISOR"
